.root {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.root[data-justify='flex-start'] {
    justify-content: flex-start;
}

.root[data-justify='center'] {
    justify-content: center;
}

.root[data-justify='flex-end'] {
    justify-content: flex-end;
}

.root[data-justify='space-between'] {
    justify-content: space-between;
}

.root[data-justify='space-around'] {
    justify-content: space-around;
}

.root[data-align='flex-start'] {
    align-items: flex-start;
}

.root[data-align='center'] {
    align-items: center;
}

.root[data-align='flex-end'] {
    align-items: flex-end;
}

.root[data-align='stretch'] {
    align-items: stretch;
}
